USE [master]
GO
/****** Object:  Database [URLDB]    Script Date: 14-04-2026 20:59:08 ******/
CREATE DATABASE [URLDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'URLDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\URLDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'URLDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\URLDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [URLDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [URLDB]
GO
/****** Object:  Table [dbo].[UrlMappings]    Script Date: 14-04-2026 20:59:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrlMappings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LongUrl] [nvarchar](max) NOT NULL,
	[ShortCode] [nvarchar](10) NOT NULL,
	[ClickCount] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ShortCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[UrlMappings] ADD  DEFAULT ((0)) FOR [ClickCount]
GO
ALTER TABLE [dbo].[UrlMappings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
USE [master]
GO
